#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    padding-top : 7rem;
    background-color: #333;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


/**********************************************************************************************
**************************************    GENERALITES    **************************************
**********************************************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

h1 {
    color: white;
    font-size: 1.6;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color : white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.error404 img {
    width: 25%;
    border-radius: 10px;
    margin-top : 2rem;
}

.login-button {
  background-color: #32AB54;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Arial, sans-serif';
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-color: #32AB54;
  transform: scale(1.05);
}

.login-button:active {
  background-color: #32AB54;
  transform: scale(1);
}

.logout-button {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Arial, sans-serif';
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #e04350;
  transform: scale(1.05);
}

.logout-button:active {
  background-color: #c0392b;
  transform: scale(1);
}



/**********************************************************************************************
**************************************    HEADER / NAVBAR    *******************************************
**********************************************************************************************/
header {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: #333;
}

nav {
    position: fixed;
    /* Fixe la barre de navigation en haut à gauche */
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 45px;
    /* Prend toute la largeur de la page */
    background-color: #333;
    /* Couleur de fond de la barre de navigation */
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Alignement des éléments à gauche */
}
a {
  text-decoration: none;
}

nav a {
    color: white;
    /* Couleur de texte par défaut pour tous les liens */
}

nav a:hover {
    color: lightgreen;
    /* Couleur de texte au survol */
}

.nav-logo-img {
    width: 50%;
}


/**********************************************************************************************
**************************************    authButton    *******************************************
**********************************************************************************************/

.authButton {
    background-color: #00a650;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.authButton:hover {
    background-color: #008f4e;
    transform: translateY(-2px);
}

.authButton:focus {
    outline: none;
}


/*********************************************************************************************
**************************************    FOOTER    ******************************************
**********************************************************************************************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 2rem 0;
}

.footer>hr {
  width: 90%;
  border: 0.5px solid #555;
  margin: 1rem 0;
}

.footer__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin: 0.5rem 0;
}

.footer-nav li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.footer-nav li a:hover {
  color: #f7b314; /* Changement de couleur au survol */
  transform: scale(1.1); /* Légère augmentation de la taille au survol */
}

.footer__icons {
  width: 100%;
  text-align: center;
}

.footer__icons div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer-icons svg {
  font-size: 1.8rem;
  margin: 0 1rem;
  transition: opacity 0.3s, transform 0.3s;
}

.footer-icons svg:hover {
  opacity: 0.7;
  transform: scale(1.1); /* Légère augmentation de la taille au survol */
}

.facebook-svg {
  color: #395498;
}

.twitter-svg {
  color: #1C96E9;
}

.insta-svg {
  color: #CF3180;
}

.youtube-svg {
  color: #F70100;
}

@media (max-width: 768px) {
  .footer__nav, .footer__icons {
      width: 90%;
  }

  .footer-nav {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  .footer-nav li {
      margin: 0.5rem 1rem;
  }

  .footer-icons svg {
      margin: 0.5rem;
  }
}



/*********************************************************************************************
**************************************    HomePage    ******************************************
**********************************************************************************************/
.homePage_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    margin-bottom: 2rem;
}

.homePage_text {
    color:white;
    width: 40%;
    font-size:2rem;
}

.homePage_img {
    float: right;
    width: 40%;
}

.title {
    background-color: #32AB54;
    margin-bottom: 2rem;
}



/***** CAROUSEL *****/
.carousel .slide {
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* S'assure que l'image ne déborde pas de la slide */
  }
  
  .carousel .slide img {
    width: 100%;
    max-height: 300px; /* Ajustez cette valeur en fonction de la taille souhaitée */
    object-fit: cover; /* Maintient le ratio d'aspect de l'image */
    transition: transform 0.5s ease;
    margin-bottom: 3rem;
  }
  
  .carousel .slide.zoomed img {
    transform: scale(1.5);
    border-radius: 10px;
  }
  .carousel .carousel-status {
    display: none; /* Masquer l'état du carousel (index des slides) */
  }
  
  .carousel .control-dots {
    display: flex;
    justify-content: center; /* Centrer les dots */
    align-items: center;
    position: absolute;
    bottom: 10px; /* Ajustez cette valeur pour positionner les dots */
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .carousel .control-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.25s ease-in;
  }
  
  .carousel .control-dots .dot.selected {
    background: #32AB54;
  }



/*********************************************************************************************
**************************************    ContactUs    ******************************************
**********************************************************************************************/
.contact-container {
  border-radius: 15px;
  margin : 4rem 4rem;
}
.contact-address {
  float:right;
  display:flex;
  flex-direction:column;
  border: 1px solid #c9c9c9;
  width:50%; 
  line-height:1.8;
  padding: 1rem;
  border-radius: 15px;
  color : #c9c9c9;
}

.contact-address a,
.contact-address p {
  color : #c9c9c9;
  text-decoration: none;
}

form {
  margin: auto;
  width:90%;
  color: white;
}

.fields {
  display:flex;
  padding:.5rem;
}

fieldset {
  margin:2rem 0;
  border: 0.5px solid #c9c9c9;
  padding-bottom:2rem;
  padding-right:1rem;
  border-radius: 15px;
}

legend {
  font-size:2rem;
  margin-bottom:1rem;
  color: #32AB54;
  font-weight:bold;
  padding: 0 2rem;
}

label {
  padding: 1rem;
  width:30%;
}

.input-size{
  width:50%;
  margin-bottom:.5rem;
  text-align:center;
  border: 1px solid #666; 
  border-radius: 8px;
  background-color: #555; 
  color: #fff;
}

.input-size::placeholder,
textarea::placeholder {
  color: #c9c9c9;
}

textarea {
  width:50%;
  height:8em;
  border-radius:10px;
  text-align:center;
  border: 1px solid #666; /* Bordure légèrement plus claire que le fond du formulaire */
  border-radius: 8px;
  background-color: #555; /* Fond des inputs */
  color: white;
}

.btn-input {
  display:flex;
  justify-content:center
}
.btn-form{
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
}
.btn-form:hover {
  background: #f7b314;
}

.contact-img {
  width: 27%;
  border-radius: 15px;
}

/*********************************************************************************************
**************************************    ALL USERS    ******************************************
**********************************************************************************************/


.users tbody tr:hover td,
.users tbody tr:hover th,
.users tbody tr:hover svg {
  background:#f7b314;
  color:#FFFFFF;
}

.users thead {
  background-color: black;
  color:white;
  font-size:1rem;
}

.users svg {
  font-size:1.2rem;
}

/*********************************************************************************************
************************************    MESSAGERIE    ****************************************
**********************************************************************************************/
.admin-msg,
.admin-users {
  width:80%;
}

.messagerie tbody tr:hover td,
.messagerie tbody tr:hover th,
.messagerie tbody tr:hover svg {
  background:#f7b314;
  color:#FFFFFF;
}

.messagerie thead {
  background-color: black;
  color:white;
  font-size:1rem;
}

.messagerie svg {
  font-size:1.2rem;
  color:red
}


/*********************************************************************************************
**************************************    TABLEAUX    ****************************************
**********************************************************************************************/

table {
    margin:auto;
    margin-bottom:3rem;
    border-collapse:collapse;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
  tr, td, th {
    text-align:center;
    border:1px solid black;
    padding:.5rem;
    background-color: #c9c9c9;
    color:black;
    border: 1px solid #555;
  }

  th {
    background-color: #aaa;
  }
  
  td {
    padding:.5rem;
  }
  
  .btn-array {
    border:none;
    padding:0;
    margin:0;
    cursor: pointer;
  }
  
  .fatrash {
    color:red;
    background-color: #c9c9c9;
  }
  .fapen {
    color:#32AB54;
    background-color: #c9c9c9;
  }

  /*********************************************************************************************
**************************************    BRASSERIES - AllBeers    ****************************************
**********************************************************************************************/

.all-product-img {
  width: 25%;
  border-radius: 10px;
}

.btn-addBeer {
  padding: .5rem;
  border-radius: 10px;
  margin-bottom:2rem;
}

.all-products-admin a,
.btn-addBeer a {
  color: black;
}

.btn-addBeer:hover {
  color: #32AB54;
}

.all-products-admin button {
  padding: 10px 1rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.all-products-admin button:hover {
  background-color: #32AB54;
}

.btn-delete {
  background-color: red;
  color: white;
  cursor: pointer;
}

.table-all-product  {
  width: 60%;
  border-collapse: collapse;
  margin: auto;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.table-all-product  th, .table-all-product  td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

/* Styles pour l'en-tête du tableau */
.table-all-product  th {
  background-color: #f2f2f2;
  color: #333;
}

/* Styles pour le survol des lignes */
.table-all-product  tr:hover {
  background-color: #f1f1f1;
}

/* Styles pour une bordure arrondie */
.table-all-product  {
  border-radius: 8px;
  overflow: hidden;
}

/* Styles pour une ombre légère */
.table-all-product  {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/**********************************************************************************************
**************************************    ABOUTUS    *******************************************
**********************************************************************************************/

.update-img {
  width: 20%;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.update-btn {
  margin-left:7rem;
}

/*********************************************************************************************
************************************    PROFIL    ****************************************
**********************************************************************************************/

.profil-notauth p {
  margin-bottom: 2rem;
}

.title-profil {
  color: #fff; /* Couleur du texte blanche pour le titre */
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-profil {
  background-color: #444; /* Fond légèrement plus clair que le fond du site */
  padding: 2rem;
  border-radius: 15px;
  width: 60%;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Légère ombre pour un effet de profondeur */
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: #ddd;
  display: block;
}

.input-profil {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #666; /* Bordure légèrement plus claire que le fond du formulaire */
  border-radius: 8px;
  background-color: #555; /* Fond des inputs */
  color: #fff; /* Couleur du texte des inputs */
  font-size: 1rem;
}

.input-profil::placeholder {
  color: #aaa; /* Couleur des placeholders */
  font-style: italic;
}

.btn-form {
  width: 50%;
  padding: 0.75rem;
  background-color: #32AB54; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-form:hover {
  background-color: #f7b314;
}

.profil-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Fond blanc pour la carte de profil */
  width: 60%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Légère ombre pour un effet de profondeur */
}

.profil-infos img {
  margin-right: 2rem;
  border-radius: 50%; 
  width: 150px;
  height: 150px; 
  object-fit: cover;
}

.profil-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Arial, sans-serif';
}

.profil-contact p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333; 

}

.profil-contact p:first-child {
  font-weight: bold; 
  font-size: 1.2rem; 
}

.profil-contact p:last-child {
  margin-bottom: 0; 
}

@media (max-width: 768px) {
  .profil-infos {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .profil-infos img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .profil-contact {
    align-items: center;
  }
  .form-profil {
    width: 90%;
    padding: 1.5rem;
  }

  .btn-form {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

/**********************************************************************************************
**************************************    ABOUTUS    *******************************************
**********************************************************************************************/

.about-us-container {
  font-family: 'Arial, sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Fond du container */
}

.content {
  text-align: center;
  max-width: 800px;
  background: #444; /* Fond légèrement plus clair que le fond général */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre subtile */
  color: #fff; /* Couleur du texte en blanc pour contraste */
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px; /* Ajout d'un espace sous le logo */
}

.text-content p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ddd; /* Couleur du texte légèrement adoucie */
}

.brewery-image {
  width: 70%;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 20px;
}

/*********************************************************************************************
**************************************    BRASSERIES    ******************************************
**********************************************************************************************/

.brasserie{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1rem;
}

.brasserie-right{
  text-align: left;
  position: relative;
  flex-basis: 60%;
}

.brasserie-right p{
  color:white;
  font-size: larger;
  margin: 2rem 0;
}

.brasserie img{
  width: 200px;
  border-radius: 10px;
  margin-left: 3rem;
}

/*********************************************************************************************
**************************************    ALL BEERS    ******************************************
**********************************************************************************************/

.beer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 colonnes */
  gap: 20px; /* Espace entre les images */
}

.image-grid {
  height: 200px;
  border-radius: 10px;
  margin-top:1rem;
}

.beer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.cart-bloc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.qty {
  width: 50px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #555;
  color: white;
}

.btn-panier {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 20px;
  background-color: #32AB54;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-panier:hover {
  background-color: white;
  color: #32AB54;
}

.filtre {
  margin-bottom: 1rem;
  color: white;
  background-color: #222;
  padding: 2rem 0;
  border-radius: 8px;
}



